# Walmart Data Analysis

## We will do: 
1) Data Loading 
2) Exploratory Data Analysis 
3) Data Cleaning 
4) Analyze the performance of sales and revenue at the city and branch level 
5) What is the average price of an item sold at each branch of the city 
6) Analyze the performance of sales and revenue, Month over Month across the Product line, Gender, and Payment Method, and identify the focus areas to get better sales for April 2019

## 1. Data Loading

In [32]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
#Importing necessary libraries
import pandas as pd

#Loading the dataset
data = pd.read_csv('Copy of Walmart Sales.csv')

## 2. Exploratory Data Analysis

In [34]:
data.shape

(1002, 21)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   float64
 8   Date           1000 non-null   object
 9   Time           1000 non-null   object
 10  Payment        1000 non-null   object
 11  Rating         1000 non-null   float64
 12  Unnamed: 12    0 non-null      float64
 13  Unnamed: 13    0 non-null      float64
 14  Unnamed: 14    0 non-null      float64
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
 17  Unnamed: 17    0 non-null      float64
 18  Unnamed: 18    0 non-null      float64
 19  Unnamed: 19    0 non-null      float64
 20  Unnamed: 20    0 non-null      float64
dtypes: float64(12), object(9)
memory usage: 164.5+ KB

In [36]:
#checking for null values
data.isnull().sum()

Invoice ID          2
Branch              2
City                2
Customer type       2
Gender              2
Product line        2
Unit price          2
Quantity            2
Date                2
Time                2
Payment             2
Rating              2
Unnamed: 12      1002
Unnamed: 13      1002
Unnamed: 14      1002
Unnamed: 15      1002
Unnamed: 16      1002
Unnamed: 17      1002
Unnamed: 18      1002
Unnamed: 19      1002
Unnamed: 20      1002
dtype: int64

In [37]:
#checking for duplicated values
data.duplicated().sum()

1

## 3. Data Cleaning

In [38]:
df = data.duplicated().sum()
print(f"Number of duplicated rows after cleaning: {num_duplicates_after}")

#Optionally, saving the cleaned dataset
data.to_csv('walmart_sales_cleaned.csv', index=False)

Number of duplicated rows after cleaning: 0

## 4. Analyzing the performance of sales and revenue at the city and branch level

In [39]:
#Displaying the first few rows to verify the column names
print(data.head())
print(data.columns)

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      A  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      B     Yangon        Member    Male
4  373-73-7910      C     Yangon        Normal    Male

             Product line  Unit price  Quantity       Date   Time  ... Rating  \
0       Health and beauty       74.69       7.0   1/5/2019  13:08  ...    9.1
1  Electronic accessories       15.28       5.0   3/8/2019  10:29  ...    9.6
2      Home and lifestyle       46.33       7.0   3/3/2019  13:23  ...    7.4
3       Health and beauty       58.22       8.0  1/27/2019  20:33  ...    8.4
4       Sports and travel       86.31       7.0   2/8/2019  10:37  ...    5.3

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 21 columns]
Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [40]:
#Calculating total revenue
data['Total_Revenue'] = data['Unit price'] * data['Quantity']

#Grouping by city and branch to get total sales and revenue
city_branch_sales = data.groupby(['City', 'Branch']).agg({
    'Quantity': 'sum',
    'Total_Revenue': 'sum'
}).reset_index()

city_branch_sales.rename(columns={'Quantity': 'Total_Sales'}, inplace=True)
print(city_branch_sales)

        City Branch  Total_Sales  Total_Revenue
0   Mandalay      A        637.0       34130.09
1   Mandalay      B        664.0       37215.93
2   Mandalay      C        519.0       29794.62
3  Naypyitaw      A        648.0       35985.64
4  Naypyitaw      B        604.0       35157.75
5  Naypyitaw      C        579.0       34160.14
6     Yangon      A        598.0       33647.27
7     Yangon      B        631.0       35193.51
8     Yangon      C        630.0       32302.43

## 5. The average price of an item sold at each branch of the city

In [41]:
#Calculating the average price per item sold at each branch
data['Price_per_Item'] = data['Unit price']
average_price_branch = data.groupby(['City', 'Branch'])['Price_per_Item'].mean().reset_index()
average_price_branch.rename(columns={'Price_per_Item': 'Average_Price_per_Item'}, inplace=True)
print(average_price_branch)

        City Branch  Average_Price_per_Item
0   Mandalay      A               53.353866
1   Mandalay      B               56.133305
2   Mandalay      C               57.958316
3  Naypyitaw      A               54.123182
4  Naypyitaw      B               57.785688
5  Naypyitaw      C               57.941009
6     Yangon      A               55.639298
7     Yangon      B               56.011062
8     Yangon      C               52.684602

## 6. Analyzing the performance of sales and revenue, Month over Month across the Product line, Gender, and Payment Method, and identify the focus areas to get better sales for April 2019

In [42]:
#Converting Date column to datetime format
data['Date'] = pd.to_datetime(data['Date'])

#Extracting month and year from the Date column
data['Month'] = data['Date'].dt.to_period('M')

#Grouping by Month, Product line, Gender, and Payment to get total sales and revenue
monthly_analysis = data.groupby(['Month', 'Product line', 'Gender', 'Payment']).agg({
    'Quantity': 'sum',
    'Total_Revenue': 'sum'
}).reset_index()

monthly_analysis.rename(columns={'Quantity': 'Total_Sales'}, inplace=True)
print(monthly_analysis)

#Filtering data for April 2019
april_2019_analysis = monthly_analysis[monthly_analysis['Month'] == '2019-04']
print(april_2019_analysis)

       Month            Product line  Gender      Payment  Total_Sales  \
0    2019-01  Electronic accessories  Female         Cash         52.0
1    2019-01  Electronic accessories  Female  Credit card         54.0
2    2019-01  Electronic accessories  Female      Ewallet         43.0
3    2019-01  Electronic accessories    Male         Cash         62.0
4    2019-01  Electronic accessories    Male  Credit card         43.0
..       ...                     ...     ...          ...          ...
103  2019-03       Sports and travel  Female  Credit card         52.0
104  2019-03       Sports and travel  Female      Ewallet         53.0
105  2019-03       Sports and travel    Male         Cash         36.0
106  2019-03       Sports and travel    Male  Credit card         60.0
107  2019-03       Sports and travel    Male      Ewallet         86.0

     Total_Revenue
0          2731.86
1          3045.42
2          1576.48
3          3380.29
4          2248.65
..             ...
103        2863.86
104        3398.57
105        2084.19
106        3633.90
107        4930.61

[108 rows x 6 columns]
Empty DataFrame
Columns: [Month, Product line, Gender, Payment, Total_Sales, Total_Revenue]
Index: []

In [44]:
# Save results to CSV files
city_branch_sales.to_csv('city_branch_sales.csv', index=False)
average_price_branch.to_csv('average_price_branch.csv', index=False)
april_2019_analysis.to_csv('april_2019_analysis.csv', index=False)